@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boat Renting</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("RegisterBoat", "Home") + "'");"/>
</div>
