
@{
    ViewData["Title"] = "RegisterBoat";
}

<h1>Register Boat</h1>

<div>
    <div class="form-group">
        <label>Enter Boat Name</label>
        <input type="text" id="boatname" />
    </div>
    <div class="form-group">
        <label>Enter Hourly Rate</label>
        <input type="text" id="boatrate" />
    </div>    
    <input type="button" value="Submit" onclick="RegisterBoat()"/>
</div>